body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #18181B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1440;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1%;
    letter-spacing: 1%;
    color: #F4F4F5
  }

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 1%;
    letter-spacing: 1%;
    color: #F4F4F5
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1%;
    letter-spacing: 1%;
    color: #F4F4F5;
    margin-bottom: 40px;
  }

p20 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1%;
    color: #F4F4F5;
  }

p16 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1%;
    color: #D9D9D9;
  }

tag {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #84CC16;
  }

.header {
    height: 100px;
    width: 100%;
    background: #18181B;
  }
  
.container-header {
    max-width: 1216px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo-img {
    height: 100%;
    width: 159px;

  }

.nav-header {
    display: flex;
    gap: 30px; 
  }
  
.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
  }
  
.nav-link:hover {
    color: #84CC16;
    text-decoration: underline;
  }
  
  @media (max-width: 1440px) {
    .container {
      padding: 0 5%;
    }
  }
  
  @media (max-width: 768px) {
    .nav {
      gap: 20px;
    }
    
    .nav-link {
      font-size: 20px;
    }
  }
 

.hero {
  padding: 80px 0;
  background: #18181B;
}

.hero-container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.text-container {
    text-align: center;
    max-width: 1058px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.highlight-text {
    color: #84CC16;
  }
  
.accent-text {
    color: #84CC16;
  }

.images-container {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.img-central {
  width: 251px;
  height: 254px;
  object-fit: cover;
  border-radius: 20px;
}

.img-middle {
  width: 223px;
  height: 228px;
  object-fit: cover;
  border-radius: 20px;
}

.img-edge {
  width: 223px;
  height: 162px;
  object-fit: cover;
  border-radius: 20px;
}


.hero-button {
  width: 240px;
  height: 60px;
  background: #84CC16;
  color: #18181B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 5%;
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s;
  align-items: center
}

    .hero-button:hover {
  background: #65A30D;
    }

@media (max-width: 1200px) {
  .images-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    font-size: 48px;
    line-height: 52px;
  }
}

.text-banner {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.art-section {
    padding: 80px 0;
    background: #18181B;
    align-items: left;
  }
  
.art-content {
    text-align: left;
  }

.art-list {
    padding-left: 0;
    margin-bottom: 40px;
  }

.art-container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 80px;
    display: flex;
    gap: 80px;
    justify-content: flex-start;
  }
  
.art-list li {
    justify-content: flex-start;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    align-items: left;
    gap: 12px;
    margin-bottom: 20px;
    
  }

.art-icon {
        display: flex;
        align-items: left;
  }

.art-buttons {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

.art-btn-primary {
    width: 240px;
    height: 60px;
    background: #84CC16;
    color: #18181B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 5%;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .art-btn-primary:hover {
    background: #64A30D;
    }
  
.art-btn-secondary {
    width: 240px;
    height: 60px;
    background: transparent;
    color: #84CC16;
    border: 1.5px solid #84CC16;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .art-btn-secondary:hover {
    background: rgba(132, 204, 22, 0.1);
    }
  

.art-images {
    display: grid;
    gap: 10px;
  }
  
.art-img {
    width: 620px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  @media (max-width: 1200px) {
    .art-container {
      flex-direction: column;
    }
  
    .art-images {
      order: -1;
    }
  
    .art-img {
      width: 100%;
      height: auto;
      max-height: 400px;
    }
  }

.about-section {
    padding: 80px 0;
    background: #18181B;
  }
  
.about-container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 140px;
    align-items: flex-start;
  }
  
.about-image {
    flex: 1;
  }
  
.profile-img {
    width: 500px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
  }
  
.about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  
.about-button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

.text-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

.about-text {
    text-align: left;
    max-width: 315px;
    width: 100%;
}

.art-btn-primary {
  background: #84CC16;
  color: #18181B;
}

.art-btn-primary:hover {
  background: #65A30D;
}

@media (max-width: 1200px) {
    .about-container {
      flex-direction: column;
    }

    .text-group {
        gap: 20px;
        margin-bottom: 30px;
      }
  
    .profile-img {
      width: 100%;
      height: auto;
    }
  
    .about-content {
      text-align: center;
    }
  
    .about-button {
      justify-content: center;
    }

    .about-text {
        text-align: center;
        max-width: 550px;
      }

      .about-text br {
        display: none;
      }

  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 36px;
      line-height: 42px;
    }
  }

.footer {
    height: 100px;
    background: #27272A;

  }
  
.container {
    max-width: 1216px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F4F4F5;
  }

.rights-link {
    color: #F4F4F5;
    text-decoration: none;
    transition: color 0.3s;
  }

  .rights-link:hover {
    color: #84CC16;
    text-decoration: underline;
  }
  
.developers {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F4F4F5;
  }
  
.developers span:first-child {
    font-weight: 400;
    color: #F4F4F5;
  }

.dev-link {
    color: #F4F4F5;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s;
  }
  .dev-link:hover {
    color: #84CC16;
    text-decoration: underline;
  }
  

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      text-align: center;
    }

    .developers {
        align-items: center;
      }
  }